body{
    background: coral;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: -12px;
    background: url(Imagenes/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    /* Encabezado */
    position: absolute;
    width: 1300px;
    height: 266px;
    left: 47px;
    top: 36px;
}
.fondotexto1{
/* Encabezado */
    position: absolute;
    width: 1000px;
    height: 266px;
    left: 10px;
    top: 36px;
    background: #C4C4C4;
    border-radius: 25px;
}
.fotografia2{
    position: absolute;
    width: 269px;
    height: 266px;
    left: 1050px;
    top: 36px;

    background: url(IMG_0995.jpg);
    border-radius: 120px;
}
.contenido{
    position: absolute;
    width: 1326px;
    height: 500px;
    left: 57px;
    top: 373px;
}
.tarjetatalleres{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 10px;
    top: 0px;
    border-radius: 25px;

    background: rgba(251, 142, 168, 0.3);
}
.tarjetaconsulta{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 450px;
    top: 0px;
    border-radius: 25px;


    background: rgba(44, 232, 244, 0.3);
}
.tarjetaretos{
    position: absolute;
    width: 400px;
    height: 500px;
    left: 900px;
    top: 0px;
    border-radius: 25px;


    background: rgba(155, 124, 244, 0.3);
}
footer
{
    /* Pie de página */
    position: absolute;
    width: 1320px;
    height: 74px;
    left: 60px;
    top: 912px;

    background: url(Imagenes/Foot.png), #C4C4C4;
}
/* logo-github */

.tarjetacreditos1{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1223px;
    top: 0px;
}

.tarjetacreditos2{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1150px;
    top: 0px;
}