body{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: -12px;

    background-size: cover;
    background-repeat: no-repeat;
}
/* Fondo */

.fondo1{
    position: absolute;
    width: 1350px;
    height: 487px;
    left: 0px;
    top: 3px;

    background: #DCDDEE;}

    .imagen{
    /* Imagen Personal */
    position: absolute;
    width: 400px;
    height: 400px;
    left: 60px;
    top: 60px;

    border-radius: 10px;

    background: url(Images/IMG_0995.JPG)
}   

.nombre{

    /* Nombre */

    position: absolute;
    width: 684px;
    height: 22px;
    left: 486px;
    top: 64px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;

    /* Dark */

    color: #283035;
}

.profesion{

    /* Profesion */

    position: absolute;
    width: 684px;
    height: 22px;
    left: 486px;
    top: 120px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

/* Grey */

    color: #82859B;
}
.mail{
    position: static;
    width: 684px;
    height: 22px;
    left: 486px;
    top: 110px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */
    
    
    /* Grey */
    
    color: #82859B;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 684px;
    height: 22px;
    left: 505px;
    top: 180px;

}

.vectormail{
   /* Vector Mail */


    position: static;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0.09px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 6px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 684px;
    height: 22px;
    left: 480px;
    top: 180px;

    background: url(Images/Vector\ Mail.png);
    background-repeat: no-repeat;

}

.tel{
    position: static;
    width: 115px;
    height: 30px;
    left: 18px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */


    /* Grey */

    color: #82859B;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 684px;
    height: 22px;
    left: 505px;
    top: 220px;
}
.vectortel{
    /* Vector Tel */


    position: static;
    width: 12px;
    height: 12px;
    left: 0px;
    top: 220px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 6px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 319px;
    height: 30px;
    left: 480px;
    top: 220px;

    background: url(Images/Vector\ Tel.png);
    background-repeat: no-repeat;
}
.descripcion{
    /* Descripcion Propia */


    position: absolute;
    width: 800px;
    height: 154px;
    left: 497px;
    top: 240px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
}
.Experiencia{
    position: absolute;
    width: 644.23px;
    height: 504px;
    left: 86px;
    top: 400px;

    

}
.tituloExperiencia{
    position: absolute;
    width: 120px;
    height: 0px;
    left: 0px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;

    /* Dark */
    color: #283035;
}
.java{
    position: absolute;
    width: 621.35px;
    height: 125px;
    left: 92px;
    top: 160px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    /* Grey */
    color: #000;
}
.logojava{
    /* Logo Java */


    position: absolute;
    width: 92px;
    height: 125px;
    left: -10px;
    top: 120px;
    background: url(Images/Logo\ Java.png);
}
.python{
    position: absolute;
    width: 621.35px;
    height: 125px;
    left: 92px;
    top: 320px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    /* Grey */
    color: #000;
}

.logopython{
    position: absolute;
    width: 92px;
    height: 125px;
    left: -10px;
    top: 300px;
    background: url(Images/Logo\ Python.png);
    background-repeat: no-repeat;
}
.excel{
    position: absolute;
    width: 621.35px;
    height: 125px;
    left: 92px;
    top: 470px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    /* Grey */
    color: #000;
}

.logoexcel{
    position: absolute;
    width: 92px;
    height: 125px;
    left: -10px;
    top: 470px;
    background: url(Images/Logo\ Excel.png);
    background-repeat: no-repeat;
}
.v-line{
    border-left: thick solid #000;
    height:100%;
    left: 60%;
    position: absolute;
    top: 20%;
}
.educacion{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 80px;
    top: 900px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 15px;

    /* Dark */
    color: #283035;
}
.fechacolegio{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    /* Dark */
    color: #283035;
}
.tituloeducacion{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 10px;
    top: 100px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    
    /* Dark */
    color: #283035;
}
.titulofecha{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 0px;
    top: 75px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;

    /* Dark */
    color: #283035;


}
.colegio{
    position: absolute;
    width: 621.35px;
    height: 125px;
    left: 92px;
    top: 160px;
}
.logocolegio{
    /* Logo Java */


    position: absolute;
    width: 92px;
    height: 125px;
    left: -10px;
    top: 160px;
    background: url(Images/Logo\ institucion.png);

    background-repeat: no-repeat;
}
.Universidad{
    position: absolute;
    width: 706.77px;
    height: 28.26px;
    left: 743px;
    top: 160px;
}
.logoU{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: contain;
    left: 650px;
    top: 170px;

    background: url(Images/Logo\ IUE.png);
    background-repeat: no-repeat;
}
.conocimientos{
    position: absolute;
    width: 429.47px;
    height: 208.96px;
    left: 885px;
    top: 506px;
}
.tituloconocimientos{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 890px;
    top: 506px;

    font-family: 'Poppins';
    font-style:oblique;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;

    /* Dark */
    color: #283035;
}
.infoconocimientos{
    position: absolute;
    width: 429.47px;
    height: 139.96px;
    left: 885px;
    top: 575px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;

    /* Dark */
    color: #283035;
}